extends layout

block content
  div.row
    div.col-sm-12
      div.text-center
        h1 Sample Project

  div.row
    div.col-sm-12
      h4 /users/main => main page
      h4 /users => get all user
      h4 /users/:id => get user by id 
    